# Data processing libraries
pandas
numpy

# Web framework and visualization tools
streamlit




# Utility libraries
typing-extensions
pydantic
python-dotenv

# Testing libraries
pytest
openpyxl

#selenium

selenium==3.14.0

# WebSocket and HTTP/2 libraries
websocket-client
wsproto

# Build tools
setuptools>=59.5.0
wheel
webdriver-manager
